

<h1>Статьи</h1>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.email %></span>

    <ul>
      <% @articles.each do |article| %>
        <% unless article.archived? %>
          <li>
            <%= link_to article.title, article %>
             Автор статьи: <%= article.email_user %>
          </li>
        <% end %>
      <% end %>
    </ul>

    <%= link_to "Новая статья", new_article_path %>


    
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>

<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>

В нашем блоге <%= Article.public_count %> открытых статьи


