

<h1><%= @article.title %></h1>
<h2>Автор статьи:<%= @article.email_user%><h2>
<p><%= @article.body %></p>


<h2>Комментарии</h2>
<%= render @article.comments %>
 
<h2>Написать комментарий:</h2>
<%= render 'comments/form' %>



<% if @article.email_user == current_user.email%>
  <ul>
    <li> <%= link_to "Изменить", edit_article_path(@article) %></li>
    <li> <%= link_to "Удалить", article_path(@article), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %></li>
  </ul>
<% end %>